{
	"trailingComma": "es5",
	"tabWidth": 4,
	"printWidth": 120,
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"proseWrap": "preserve",
	"requirePragma": false,
	"useTabs": true,
	"singleQuote": false,
	"semi": true,
	"vueIndentScriptAndStyle": false,
	"embeddedLanguageFormatting": "auto",
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-tailwindcss"],
	"[javascriptreact]": {
		"singleQuote": false,
		"singleAttributePerLine": true
	},
	"[html]": {
		"singleQuote": false,
		"singleAttributePerLine": false
	}
}
